@import "tailwindcss";

/* //////////////////// */
/* ////// Profile Card /////////// */
/* ////////////////////////////*/

.user-profile-name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}

.profile-card__job-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

/* ////////////////////// */
/* /////// INPUT ////// */
/* //////////////// */

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important; /* Change #fff to your desired color */
  box-shadow: 0 0 0 1000px #fff inset !important;
  /* -webkit-text-fill-color: #000 !important; Change to your desired text color */
  transition: background-color 5000s ease-in-out 0s;
}

/* ////////////////////////// */
/* ///////// LoginSVG ///////////////// */
/* ////////////////////// */

.st0 {
  fill: #353535;
  isolation: isolate;
  opacity: 0.9;
}

.st1 {
  fill-opacity: 0.95;
}

.st1,
.st2 {
  fill: #fff;
}

.st3 {
  fill: #00a8cc;
  fill-opacity: 0.53;
}

.st4 {
  fill: url(#linear-gradient1);
}

.st5 {
  fill: none;
}

.st2 {
  fill-opacity: 0.61;
}

.st6 {
  fill: url(#linear-gradient);
}
